/node_modules
/public/storage
/storage
/vendor
/database
/bootstrap
/tests
/.idea
Homestead.json
Homestead.yaml
composer.json
composer.lock
readme.md
yarn.lock
server.php
phpunit.xml
package.json.back
gulpfile.js
Gruntfile.js
artisan
.env.example