.angel-input {
  outline: none;
  padding: 5px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  border: 1px solid #d9edf7;
  border-radius: 4px;
  max-width: 100%;
}
.angel-textarea {
  outline: none;
  padding: 6px 12px;
  color: #555;
  border-radius: 4px;
  width: 100%;
  border: 1px solid #d9edf7;
}
.angel-textarea:focus {
  border-color: #5bc0de;
}
.angel-input:focus {
  border-color: #5bc0de;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 1px 0;
  border-radius: 15px;
  line-height: 100%;
}
.panel {
  position: relative;
}
.hide {
  display: none;
}
.article-area textarea {
  margin-bottom: 15px;
  height: 300px;
}
.category-area {
  width: 300px;
  position: absolute;
  left: 100%;
  top: 0px;
  height: 200px;
  padding: 0px 15px;
}
.category-area .angel-select {
  margin-bottom: 30px;
}
.category-area input {
  margin-right: 15px;
}
.category-area button {
  border-radius: 50%;
}
#show_character_modal .item .title {
  color: #5bc0de;
}
#show_character_modal .item a {
  cursor: pointer;
  margin: 0px 5px;
  display: inline-block;
}
#show_character_modal .pronun-area {
  text-align: center;
}
#show_character_modal .name-area {
  text-align: center;
}
#show_character_modal .name-area input {
  width: auto;
  display: inline;
}
#show_character_modal .name-area span {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
#show_character_modal .example-area {
  margin-bottom: 15px;
  margin-top: 15px;
}
#show_character_modal .example-area .item {
  margin-bottom: 10px;
}
#show_character_modal .example-area .item .title {
  margin-bottom: 10px;
  border-bottom: 2px solid #5bc0de;
  color: #5bc0de;
}
#show_character_modal .example-area .item #example,
#show_character_modal .example-area .item #meaning {
  white-space: pre-wrap;
}
#show_character_modal .origin-area {
  color: #5bc0de;
}
#show_character_modal .origin-area span {
  color: black;
}
#show_character_modal .origin-area .glyphicon {
  color: #5bc0de;
}
#show_character_modal .meaning-item {
  margin: 10px 0px;
}
#show_character_modal .meaning-item .meaning {
  margin-bottom: 10px;
}
